/.vs/
/.idea/
/BoostBotV2/bin/
/BoostBotV2/obj/
/BoostBotV2/*.db
/BoostBotV2/*.db-*
/BoostBotV2/*.zip


/BoostBotV2.Api/bin/
/BoostBotV2.Api/obj/
/BoostBotV2.Api/*.db
/BoostBotV2.Api/*.db-*
/BoostBotV2.Api/*.zip
